@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* No need to flex body. I won't use any section stretching or gap between sections. */
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

/* Header styling */

.header {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 60px;
    align-items: center;

    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.navigation {
    list-style: none;
    display: flex;
    gap: 30px;

    /* Adjusting font size and weight here is necessary only because Header Logo does not have its own class */
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

/* Hero styling */

h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 80px;
    width: 1020px;
    padding: 100px 0px;
}

.hero-text p {
    color: #E5E7EB;
    margin: 12px 0px;
}

/* Hero adjusting */

/* 
   I can go with two options here. 
   
   1) .hero-wrapper with display: block & margin: auto on children 
   2) display: flex, flex-direction: column & align-items: center
   
   Here I choose flex only for the sake of testing/understanding flex. 
*/

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

/* Second section */

.info-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 120px 0;
    gap: 60px;
}

.info-carousel {
    display: flex;
    justify-content: center;
    width: 1020px;
    gap: 52px;
}

.info-carousel p {
    text-align: center;
    color: #606060;
    margin-top: 8px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-image {
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin: auto;
    display: block;
}

.info-item {
    flex-basis: 170px;
}

/* Footer styling  */

footer {
    text-align: center;
    padding: 40px 0;
    color: #E5E7EB;
    background-color: #1F2937;
}
